html{}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center;  }
h1 {
    text-align: center;
    color: black;
}
body{
    background: #c7b39b url("1.jpg");
    color: #000000;
}

.form-wrapper {
    background: rgba(255, 255, 255, 0.5);
    width: 30%;
    padding: 15px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
ul#error-list li{
    color: red;
}